<div class="wrapper text-center">
    <div class="not-found">
        <div class="row">
            <div class="col-4 bg-primary p-5">
                <h3 class="text-light text-center">iLovePaint Error!</h3>
                <i class="far fa-frown text-light my-3" style="font-size: 60px;"></i>
            </div>
            <div class="col-8 p-5 error-message">
                <h2 class="text-danger">Sorry! We can not find the resource</h2>
                
            </div>
        </div>
    </div>
</div>