<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">iLovePaint</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Search products -->
    <div class="form-group form-inline search-product">
        <form action="">
            <input #searchInput (focus)="onSearchBarFocus()" (blur)="onSearchBarBlur()"           
            name="searchValue" [(ngModel)]="searchValue"
                (keyup)="onSearchProduct($event)" type="text" class="form-control" placeholder="Search product">
        </form>
        <button class="btn btn-primary" style="cursor: default; outline: none !important;"><i
                class="fas fa-search"></i></button>

        <!-- Search Results -->
        <ul class="w-100 text-center" *ngIf="(!searchResult || searchResult.length == 0) && searchInput.value && showSearchResult">
            <li class="my-3">No results</li>
        </ul>
        <ul class="w-100" *ngIf="searchResult.length > 0 && searchInput.value && showSearchResult">
            <i (click)="closeSearchResultList()" class="far fa-window-close float-right text-danger"
                style="cursor: pointer;"></i>
            <li *ngFor="let p of searchResult" class="my-3">
                <a href="product-order/{{p.id}}">
                    <div class="row text-center" style="max-height: 55px;">
                        <div class="col-4">
                            <img style="max-width: 55px; max-height: 55px;" [src]="p.image" alt="{{p.name}}">
                        </div>
                        <div class="col-8">
                            <small style="line-height: 55px;">{{p.name}}</small>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                </a>

            </li>
            <div class="text-center">
                <a *ngIf="maxSearchResult < totalSearchResult" href="#" (click)="seeMore($event)">See more</a>
            </div>
        </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/categories/{{c.id}}" *ngFor="let c of categoryList">{{c.name}}</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
            <a href="/my-cart" class="mx-3 d-inline">
                <i class="fas fa-shopping-cart text-danger" style="font-size: 24px;">
                    <span matBadge="{{orderService.orderItemList.length}}" matBadgeOverlap="false" color="warn"></span>
                </i>
            </a>
            <div *ngIf="!userService.currentUserProfile" class="d-inline">
                <a href="user-login" class="btn btn-success mx-3">Sign In</a>
                <a href="user-registration" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</a>
            </div>
            <div *ngIf="userService.currentUserProfile" class="dropdown d-inline mx-5">
                <button class="user-btn" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <h6 class="dropdown-header">{{userService.currentUserProfile.fullName}}</h6>                 
                    <a href="/profile" class="dropdown-item">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a (click)="logout($event)" class="dropdown-item" href="#">Logout</a>                   
                </div>
            </div>
            

        </div>
    </div>
</nav>