<h3 class="mb-5 text-center">Edit Paint Product</h3>

<div class="row">
    <div class="col-6">
        <img class="w-100" [src]="imageUrl" alt="product_image">
        <div class="form-group">
            <input #imageInput (change)="onFileSelected($event)" class="form-control d-none" type="file" name="" id="">
        </div>
        <button (click)="imageInput.click()" class="btn btn-outline-danger btn-block">Update Product Image</button>
    </div>
    <div class="col-6">
        <form [formGroup]="editProductForm">
            <div class="form-group">
                <input type="hidden" formControlName="id">
            </div>
            <div class="form-group">
                <label for="">Product Name</label>
                <input formControlName="name" type="text" class="form-control editing-input" required
                    placeholder="Product Name">
            </div>

            <div class="form-group">
                <label for="">Volume (L)</label>
                <div class="row">
                    <div class="col">
                        <select (change)="onVolumeChange($event)" formControlName="volume" name="" id=""
                        class="form-control editing-input">
                        <option value="">Select volume</option>
                        <option value="{{pv.id}}" *ngFor="let pv of data?.productVolumes">{{pv.volumeValue}}</option>
                    </select>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary w-100" (click)="openAddVolumeDialog(data.id)">Add volume</button>
                    </div>
                </div>
            </div>

            <div *ngIf="editProductForm.value.volume">
                <div class="form-group">
                    <label for="">Price</label>
                    <input formControlName="price" type="text" class="form-control editing-input" required
                        placeholder="Price">
                </div>

                <div class="form-group">
                    <label for="">Quantity</label>
                    <input formControlName="quantity" type="text" class="form-control editing-input" required
                        placeholder="Quantity">
                </div>
            </div>

            <div class="form-group">
                <label for="">Provider</label>
                <select formControlName="providerId" class="form-control editing-input" name="" id="">
                    <option value="">Select Provider</option>
                    <option value="{{provider.id}}" *ngFor="let provider of providerService.providerList">
                        {{provider.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Category</label>
                <select formControlName="categoryId" class="form-control editing-input" name="" id="">
                    <option value="">Select Category</option>
                    <option value="{{category.id}}" *ngFor="let category of categoryService.categoryList">
                        {{category.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Description (optional)</label>
                <textarea style="resize: none" formControlName="description" placeholder="Description"
                    class="form-control editing-input" name="" id="" cols="30" rows="10">
                    </textarea>
            </div>

            <button [disabled]="editProductForm.invalid || !editProductForm.value.volume" (click)="updateProduct()" mat-dialog-close class="btn btn-block btn-primary">
                <i class="fas fa-database"></i> Save</button>
        </form>

    </div>
</div>