.tag{
    padding: 5px 15px;
    color: white;
    border-radius: 10px;
    font-size: 12px;
}

.tag-shipper{
    background-color: rgb(102, 51, 153);
}

.tag-unavailable{
    background-color: rgba(221, 12, 12, 0.9);
}

.tag-available{
    background-color: rgba(1, 125, 1, 0.9);
}

.out-of-stock-btn{
    font-size: 14px;
    margin: 10px 0;
    color: rgba(221, 12, 12, 0.9);
}