<div class="row" *ngFor="let item of data?.orderItems">
    <div class="col-3">
        <img [src]="url + '/products/images/' + item.productID" alt="{{item?.product.name}}" class="w-100">
    </div>
    <div class="col-5">
        <p class="mt-5" style="font-weight: 500;">{{item?.product.name}}</p>
        <p><span [style.color]="item.colorCode">{{item.colorName}}</span> (<b>{{item.colorCode}}</b>)</p>
        <p>{{item.unitPrice}}đ</p>
        <p>Volume: <b>{{item.volumeValue}} (L)</b></p>

    </div>
    <div class="col-4">
        <p class="mt-5">Quantity: <b>{{item?.quantity}}</b></p>
    </div>
    <div class="horizontal-divider"></div>
</div>

<div>
    <h3 class="text-center py-3">Total: {{totalFormat}}đ</h3>
</div>
<div class="horizontal-divider"></div>

<div class="mt-5" *ngIf="data?.orderDate">
    <p><b>Order date: </b>{{data.orderDate | date:'longDate'}}</p>
</div>

<div>
    <h4 class="text-center mt-5" style="font-weight: 500;">Customer Information</h4>
    <div class="form-group">
        <small style="font-weight: 500;">Customer</small>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-user-alt"></i>
                </div>
            </div>
            <input disabled="true" type="text" class="form-control"
                value="{{data?.gender == true ? 'Ms' : 'Mr'}}. {{data?.fullName}}">
        </div>
    </div>
    <div class="form-group">
        <small style="font-weight: 500;">Phone number</small>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-mobile"></i>
                </div>
            </div>
            <input disabled="true" type="text" class="form-control" value="{{data?.phoneNumber}}">
        </div>
    </div>
    <div class="form-group">
        <small style="font-weight: 500;">Email</small>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-envelope"></i>
                </div>
            </div>
            <input disabled="true" type="text" class="form-control" value="{{data?.email}}">
        </div>
    </div>
    <div class="form-group">
        <small style="font-weight: 500;">Address</small>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
            </div>
            <input disabled="true" type="text" class="form-control" value="{{data?.address}}">
        </div>
    </div>
    <div class="form-group">
        <small style="font-weight: 500;">Notes</small>
        <div class="input-group" *ngIf="data?.notes">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-sticky-note"></i>
                </div>
            </div>
            <input disabled="true" type="text" class="form-control" value="{{data?.notes}}">
        </div>
        <div class="font-italic text-secondary" *ngIf="!data?.notes">No notes!</div>
    </div>
</div>


<form action="" [formGroup]="statusForm">
    <div class="form-group">
        <small style="font-weight: 500;">Status</small>
        <select name="" id="" class="form-control" formControlName="status">
            <option value="0">Waitting</option>
            <option value="1">Packed</option>
            <option value="2">Shipping</option>
            <option value="3">Finished</option>
        </select>
    </div>
</form>

<div class="row">
    <div class="col-lg-6">
        <button mat-dialog-close (click)="saveOrder()" class="btn btn-success w-100">Save <div
                class="spinner-border spinner-border-sm text-light" role="status" *ngIf="loading">
                <span class="sr-only">Loading...</span>
            </div></button>

    </div>
    <div class="col-lg-6">
        <button class="btn btn-danger w-100">Cancel order</button>
    </div>
</div>