<form action="" [formGroup]="addVolumeForm">
    <input type="hidden" name="" formControlName="productId">
    <div class="form-group">
        <label for="">Volume Value</label>
        <input [class.is-invalid]="volumeControl.invalid && volumeControl.touched"
            [class.is-valid]="volumeControl.valid" type="text" class="form-control" formControlName="volume">
        <small *ngIf="err" class="text-danger">{{err}}</small>
        <div *ngIf="volumeControl.errors && volumeControl.touched">
            <small class="text-danger" *ngIf="volumeControl.errors?.required">
                Volume value is required
            </small>
            <small class="text-danger" *ngIf="volumeControl.errors?.pattern">
                Invalid value
            </small>
        </div>
    </div>
    <div class="form-group">
        <label for="">Price (VND)</label>
        <input [class.is-invalid]="priceControl.invalid && priceControl.touched" [class.is-valid]="priceControl.valid"
            type="text" class="form-control" formControlName="price">
        <div *ngIf="priceControl.errors && priceControl.touched">
            <small class="text-danger" *ngIf="priceControl.errors?.required">
                Price is required
            </small>
            <small class="text-danger" *ngIf="priceControl.errors?.pattern">
                Invalid value
            </small>
        </div>
    </div>
    <div class="form-group">
        <label for="">Quantity</label>
        <input [class.is-invalid]="quantityControl.invalid && quantityControl.touched"
            [class.is-valid]="quantityControl.valid" type="number" class="form-control" formControlName="quantity">
        <div *ngIf="quantityControl.errors && quantityControl.touched">
            <small class="text-danger" *ngIf="quantityControl.errors?.required">
                Quantity is required
            </small>
            <small class="text-danger" *ngIf="quantityControl.errors?.pattern">
                Invalid value
            </small>
        </div>
    </div>

    <button (click)="onSave()" [disabled]="addVolumeForm.invalid" class="btn btn-success btn-block">Save 
        <span class="spinner-border spinner-border-sm text-light" *ngIf="loading"></span>
    </button>
</form>