<div class="row m-5">
    <div class="col-4 py-5">
        <img [src]="product?.image" alt="product?.name" class="w-100">
    </div>
    <div class="col-8 p-5">
        <h4>Product Details</h4>
        <table class="table">
            <tr>
                <th>Name</th>
                <td>{{product?.name}}</td>
            </tr>          
            
            <tr>
                <th>Category</th>
                <td>{{product?.category ? product?.category.name : "Unknown"}}</td>
            </tr>
            <tr>
                <th>Provider</th>
                <td>{{product?.provider ? product?.provider.name : "Unknown"}}</td>
            </tr>

            <tr *ngIf="product.productVolumes.length > 0">
                <th>Status</th>
                <td [class.text-danger]="product?.productVolumes[0].quantity == 0"
                    [class.text-success]="product?.productVolumes[0].quantity > 0">
                    {{product?.productVolumes[0].quantity > 0 ? "Available" : "Unavailable"}}
                </td>
            </tr>
        </table>

        <div class="my-3">
            <h4>Choose Color</h4>
            <div [style.background-color]="colorCode" (click)="openColorCatalog()" style="padding: 50px; cursor: pointer;" class="border text-center color-chooser">
                <i class="fas fa-palette text-muted" style="font-size: 40px;" *ngIf="!colorId"></i>
            </div>
        </div>

        <div *ngIf="product.productVolumes.length > 0" style="font-size: 32px; font-weight: 500;" class="d-block text-center text-danger my-5">
            {{formatedPrice}} đ
        </div>

        <div class="row my-3">
            <div class="col">
                <small class="font-weight-bold text-secondary d-block">Quantity</small>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button (click)="decreaseQuantity()" class="btn btn-danger">-</button>
                    </div>
                    <input [(ngModel)]="quantity" class="quantity-input form-control text-center" type="text" placeholder="Quantity" value="1">
                    <div class="input-group-append">
                        <button (click)="increaseQuantity()" class="btn btn-success">+</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <small class="font-weight-bold text-secondary d-block">Volume (L)</small>
                <form action="">
                    
                    <select (change)="onVolumeChange($event)" class="volume-input" name="" id="">
                        <option value="" *ngIf="product.productVolumes.length == 0">Select volume</option>
                        <option value="{{pv.id}}" *ngFor="let pv of product?.productVolumes">{{pv.volumeValue}}</option>
                    </select>
                </form>
            </div>       
        </div>
        <small class="text-danger" *ngIf="colorErr">{{colorErr}}</small>
        <button [disabled]="product.productVolumes.length == 0" (click)="addToCart()" class="btn btn-block btn-danger btn-lg">Add to Cart
            <i class="fas fa-shopping-cart"></i>
        </button>

    </div>
</div>

<div class="m-5 border p-5">
    <h4 style="text-decoration: underline;">Product Description:</h4>
    <p class="lead mx-5 my-3" *ngIf="product?.description">
        {{product.description}}
    </p>
    <p class="lead font-italic mx-5 my-3" *ngIf="!product?.description">
        No desctiption!
    </p>
</div>

<app-comment-form [productID]="product?.id"></app-comment-form>

<h4>Comments ({{commentService?.comments ? commentService?.totalComments : 0}})</h4>
<div *ngIf="commentService?.comments">
    <div class="row">
        <div class="col-10">
            <app-user-comment *ngFor="let c of commentService?.comments" [comment] = "c"></app-user-comment>
            <div class="my-3 mx-5" *ngIf="commentService?.totalComments > commentService.chunkSize">
                <a href="#" (click)= "seeMore($event)">See more</a>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div *ngIf="!commentService?.comments || commentService?.comments.length == 0" class="mx-5 my-2">
    <span>No comments...</span>
</div>