.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.grid-item{
    transition: 0.2s;
    cursor: pointer;
}

.grid-item:hover{
    opacity: 0.8;
}