
<form action="" [formGroup]="filterForm">
    <div class="row my-3">      
        <div class="col-12 col-md-6">
            <small>Category</small><br>
            <select formControlName="category" (change)="filterProducts()" name="" id="" class="form-control">
                <option value="">All</option>
                <option value="{{c.id}}" *ngFor="let c of categoryService.categoryList">{{c.name}}</option>
            </select>
        </div>
        <div class="col-12 col-md-6">
            <small>Provider</small><br>
            <select (change)="filterProducts()" formControlName="provider" name="" id="" class="form-control">
                <option value="">All</option>
                <option value="{{p.id}}" *ngFor="let p of providerService.providerList">{{p.name}}</option>
            </select>
        </div>      
    </div>
</form>

<div *ngIf="productList.length > 0">
    <div class="row" *ngFor="let productChunk of productList">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let p of productChunk">
            <app-product-display [product]="p"></app-product-display>
        </div>
    </div>
</div>

<div class="lead text-center my-5" *ngIf="productList.length === 0 || !productList">
    <p class="font-italic">There's no paint product!</p>
</div>