<h3 class="m-3">Category Manager</h3>

<div class="mb-3">
    <button (click)="openAddCategoryDialog()" mat-raised-button color="warn">
        Add Category
        <mat-icon>add_circle_outline</mat-icon>
    </button>
</div>

<div>
    <mat-form-field class="w-50">
        <mat-label>Filter Categories</mat-label>
        <input (keydown)="categoryService.refreshCategoryList()" (keyup)="filterCategories(filterInput.value)"
            type="text" matInput class="w-100" #filterInput>
    </mat-form-field>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <td>No.</td>
            <td>Category Name</td>
            <td colspan="2">Edit/Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="!categoryService.categoryList">
            <td colspan="4" class="text-center font-italic">
                There's no category!
            </td>
        </tr>
        <tr *ngFor="let category of categoryService.categoryList; index as i">
            <td>{{i + 1}}</td>
            <td>{{category?.name}}</td>
            <td>
                <button (click) = "openEditCategoryDialog(category)" mat-icon-button color="primary">
                    <mat-icon>create</mat-icon>
                </button>
            </td>
            <td>
                <button mat-icon-button color="warn" (click)="onDeleteClick(category.id)">
                    <mat-icon>delete_sweep</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>