<div class="wrapper">
    <span class="close-btn" (click)="closeDialog()">
        <i class="fas fa-times text-danger" style="font-size: 24px;"></i>
    </span>
    <div class="row">
        <div class="col-4">
            <div>
                <img class="w-100 border p-3" [src]="avatar" alt="{{data.fullName}}">
            </div>
            <input (change)="onImageSelected($event)" type="file" #imageInput class="d-none">
            <button (click)="imageInput.click()" class="btn btn-success btn-block">Change
                Avatar</button>
        </div>
        <div class="col-8">

        </div>
    </div>

    <form action="" class="my-3">

        <div class="form-group">
            <label for="">Full Name</label>
            <input [(ngModel)]="profile.fullName" type="text" class="form-control" [value]="data.fullName"
                name="fullName">
        </div>
        <div class="form-group">
            <label for="">Gender</label>
            <select [(ngModel)]="profile.gender" class="form-control" [value]="data.gender" name="gender">
                <option value="false">Male</option>
                <option value="true">Female</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input [(ngModel)]="profile.email" type="text" class="form-control" [value]="data.email" name="email">
        </div>
        <div class="form-group">
            <label for="">Phone Number</label>
            <input [(ngModel)]="profile.phoneNumber" type="text" class="form-control" [value]="data.phoneNumber"
                name="phoneNumber">
        </div>
        <div class="form-group">
            <label for="">Address</label>
            <textarea [(ngModel)]="profile.address" style="resize: none;" type="text" class="form-control"
                [value]="data.address" name="address" rows="3" cols="5"></textarea>
        </div>
      
        <button (click)="onSave()" class="btn btn-block btn-success">Save
            <span *ngIf="loading" class="spinner-border spinner-border-sm text-light"></span>
        </button>
    </form>
</div>