<h3 class="m-3">Product Manager</h3>

<div class="mb-3">
    <button (click)="openAddProductDialog()" mat-raised-button color="warn">
        Add Product
        <mat-icon>add_circle_outline</mat-icon>
    </button>
</div>

<div>
    <mat-form-field class="w-50">
        <mat-label>Filter Products</mat-label>
        <input (keydown)="productService.refreshProductList()" (keyup)="filterProducts(filterInput.value)" type="text"
            matInput class="w-100" #filterInput>
    </mat-form-field>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <td>No.</td>
            <td>Product Name</td>
            <td>Weight</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Provider</td>
            <td>Category</td>
            <td>Status</td>
            <td colspan="2">Edit/Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="!productService.productList || productService.productList.length === 0">
            <td colspan="9" class="text-center font-italic">
                There's no product!
            </td>
        </tr>
        <tr *ngFor="let product of productService.getProductChunks(); index as i">
            <td>{{i + 1 + (productService.currentChunkIndex * productService.chunkSize)}}</td>
            <td>{{product.name}}</td>
            <td>{{product.weight}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td [class.text-warning]="!product.provider">
                {{(product.provider) ? product.provider.name : "Unknown"}}
            </td>
            <td [class.text-warning]="!product.category">
                {{(product.category) ? product.category.name : "Unknown"}}
            </td>
            <td [class.text-success]="product.status === 1" [class.text-danger]="product.status !== 1">
                {{(product.status === 1) ? "Available" : "Unavailable"}}</td>
            <td>
                <button (click)="openEditProductDialog(product)" mat-icon-button color="primary">
                    <mat-icon>create</mat-icon>
                </button>
            </td>
            <td>
                <button mat-icon-button color="warn" (click)="productService.deleteProduct(product.id)">
                    <mat-icon>delete_sweep</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<nav aria-label="Page navigation example" class="text-center">
    <ul class="pagination pagination-lg">
        <li class="page-item">
            <button [disabled] = "productService.stopPrev" class="page-link" aria-label="Previous" (click) = "prevChunk()">
                <i class="fas fa-chevron-left"></i>
            </button>
        </li>
        <li *ngFor="let item of productService.pageItems" class="page-item">
            <a class="page-link" [class.page-active] = "productService.currentChunkIndex === item - 1">{{item}}</a>
        </li>      
        <li class="page-item">
            <button [disabled] = "productService.stopNext" class="page-link" aria-label="Next" (click) = "nextChunk()">
                <i class="fas fa-chevron-right"></i>
            </button>
        </li>
    </ul>
</nav>