<h3 class="mb-5 text-center">Add Paint Product</h3>

<mat-dialog-content>
    <div class="row">
        <div class="col-6">
            <img class="w-100" [src]="imageUrl" alt="product_image">
            <div class="form-group">
                <input #imageInput (change)="onImageSelected($event)" class="form-control d-none" type="file" name="" id="">
            </div>
            <button (click)="imageInput.click()" class="btn btn-outline-danger btn-block">Upload Image</button>
        </div>
        <div class="col-6">
            <form [formGroup]="addProductForm">
                <div class="form-group">
                    <label for="">Product Name</label>
                    <input [class.is-valid]="nameControl.valid"
                        [class.is-invalid]="nameControl.invalid && nameControl.touched" formControlName="name"
                        type="text" class="form-control" placeholder="Product Name" id="name">
                    <div *ngIf="nameControl.invalid && nameControl.touched">
                        <ul class="text-danger">
                            <li *ngIf="nameControl.errors?.required"><small>Product name is required</small></li>
                            <li *ngIf="nameControl.errors?.pattern"><small>Product name does not contain special
                                    characters</small></li>
                            <li *ngIf="nameControl.errors?.minlength"><small>Product name must be at least 5
                                    characters</small></li>
                            <li *ngIf="nameControl.errors?.maxlength"><small>Product name is no more than 30
                                    chracters</small></li>
                        </ul>
                    </div>
                </div>       
              
                <div class="form-group">
                    <label for="">Provider</label>
                    <select [class.is-invalid]="providerControl.value === '' && providerControl.touched"
                        [class.is-valid]="providerControl.value !== ''" formControlName="provider" class="form-control"
                        name="" id="">
                        <option value="">Select Provider</option>
                        <option value="{{provider.id}}" *ngFor="let provider of providerService.providerList">
                            {{provider.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select [class.is-invalid]="categoryControl.value === '' && categoryControl.touched"
                        [class.is-valid]="categoryControl.value !== ''" 
                        formControlName="category" class="form-control" name="" id="">
                        <option value="">Select Category</option>
                        <option value="{{category.id}}" *ngFor="let category of categoryService.categoryList">
                            {{category.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Description (optional)</label>
                    <textarea style="resize: none" formControlName="description" placeholder="Description"
                        class="form-control" name="" id="" cols="30" rows="10">
                    </textarea>
                </div>

                <button [disabled]="addProductForm.invalid || !validProviderCategory()"
                    class="btn btn-block btn-primary" (click)="addProduct()">
                    <i class="fas fa-database"></i> Submit 
                <span class="spinner-border spinner-border-sm text-light" *ngIf="loading"></span></button>
            </form>

        </div>
    </div>
</mat-dialog-content>