<div *ngIf="userService.currentUserProfile">
    <div class="wrapper">
        <div class="">
            <div class="row">
                <div class="col-3 bg-primary p-5 text-light">
                    <h3 class="text-center">PROFILE</h3>
    
                </div>
                <div class="col-6 p-3">
                    <div class="row">
                        <div class="col-6">
                            <div>
                                <img class="w-100" [src]="avatar" alt="{{profile.fullName}}">
                            </div>
                            <input type="file" #imageInput class="d-none">
                            <button (click)="imageInput.click()" class="btn btn-success btn-block">Change Avatar</button>
                        </div>
                        <div class="col-6 text-right">
                            <span class="role">{{role}}</span>
                        </div>
                    </div>
                    <form action="" class="my-3">
                        <div class="form-group">
                            <label for="">Full Name</label>
                            <input type="text" class="form-control" [(ngModel)]="profile.fullName" name="fullName">
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" class="form-control" [(ngModel)]="profile.email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="">Phone Number</label>
                            <input type="text" class="form-control" [(ngModel)]="profile.phoneNumber" name="phoneNumber">
                        </div>
                        <div class="form-group">
                            <label for="">Address</label>
                            <input type="text" class="form-control" [(ngModel)]="profile.address" name="address">
                        </div>
                        <div class="form-group">
                            <label for="">Birthdate</label>
                            <input type="text" class="form-control" value="{{profile.birthdate | date:'longDate'}}" name="birthdate">
                        </div>
    
                        <button class="btn btn-block btn-success">Save</button>
                    </form>
    
                </div>
                <div class="col-3 bg-primary text-light">
                    <div class="row py-3">
                        <div class="col-12 text-center">
                            <i class="fas fa-hand-holding-usd" style="font-size: 50px;"></i>
                            <div class="dropdown-divider"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center my-3" style="font-weight: 500; font-size: 20px;">
                            REWARD POINTS
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center my-3" style="font-size: 40px;">
                            {{profile.rewardPoints}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>