/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.editing-input{
    background-color: rgba(201, 196, 196, 0.75) !important;
}

.pagination{
    justify-content: center !important;
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: 50%;
}

.page-link{
    color: black !important;
    cursor: pointer;
}

button:disabled{
    background-color: rgba(222, 221, 221, 0.68) !important;
    color: gray !important;
}

.page-active{
    background-color: #26A7E2 !important;
    color: white !important;
}

.item-hover{
    border: 1px solid transparent;
    transition: 0.5s;
}

.item-hover:hover{
    border: 1px solid #DAF1EC;
}

.horizontal-divider {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 100%;
    margin: 5px 10px;
}


.full-width-divider {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 100%;
}

.btn{
    border-radius: 0 !important;
}

.form-control{
    border-radius: 0 !important;
}
